/* Body and Images */

html {
    color: white;
    background-color: #da8c44;
}

img {
    padding: 10px;
    border: solid 3px rgb(24, 85, 21);
}


/* Table Styles */

th {
    text-align: left;
}

table {
    width: 600px;
}

table, th, td {
    font-weight: normal;
    background-color: rgb(163, 26, 26);
    color: black;
    border: solid 1px black;
    border-collapse: collapse;
}

th {
    padding: 10px
}



/* Text Adjustments */

th:first-of-type {
    font-weight: bold; 
    text-align: center;
}


.center {
    padding: 10px 0px;
    text-align: center;
}

.listPad {
    padding-left: 10px;
}

caption {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(255, 0, 0)
}
